:root {
  --font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --color-red-100: oklch(93.6% 0.032 17.717);
  --color-red-500: oklch(63.7% 0.237 25.331);
  --color-lime-100: oklch(96.7% 0.067 122.328);
  --color-lime-500: oklch(76.8% 0.233 130.85);
  --color-lime-600: oklch(64.8% 0.2 131.684);
  --color-sky-500: oklch(68.5% 0.169 237.323);
  --color-sky-950: oklch(29.3% 0.066 243.157);
  --color-neutral-50: oklch(98.5% 0 0);
  --color-neutral-800: oklch(26.9% 0 0);
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--color-sky-950);
}

.container {
  padding: 0.5rem 0 2rem;
}

h1,
.directions {
  text-align: center;
}

h1 {
  margin: 0.5rem 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.directions {
  margin-bottom: 1.5rem;
}

.highlight {
  color: var(--color-sky-500);
}

.examples {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--color-neutral-800);
  border-bottom: 1px solid var(--color-neutral-800);
  background: var(--color-neutral-50);
  overflow-x: auto;
}

.example {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 815px) {
  .examples {
    justify-content: flex-start;
  }
}

.example.wrong {
  border: 1px solid var(--color-red-500);
  background: var(--color-red-100);
}
.example.correct {
  border: 1px solid var(--color-lime-500);
  background: var(--color-lime-100);
}

.codes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid var(--color-neutral-800);
  background: var(--color-neutral-50);
  max-width: 600px;
}

.codes .wrong code {
  color: var(--color-red-500);
}

.codes .correct code {
  color: var(--color-lime-600);
}

ul {
  padding: 0;
  margin: 0 0 1rem 0;
  list-style-type: none;
}

li {
  margin: 0 0 0.5rem 0;
}

input {
  display: block;
  padding: 0.25rem 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  display: inline-block;
  cursor: pointer;
}

.btn-copy {
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  user-select: none;
}

.btn-copy:hover {
  color: var(--color-sky-500);
}

.copied,
.copied:hover {
  color: gray;
  cursor: default;
}
